.game-shell {
  position: relative;
  min-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.board-menu {
  width: 500px;
  margin-left: 25px;
  height: 100%;
  align-self: flex-start;

  .nav-btn {
    background-color: #000;
  }

  .board-information {
    height: 100%;
    padding: 15px;

    .board-row {
      margin-bottom: 8px;
    }
  }
}
