.game-shell {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #141313;
  padding-left: 25px;
  overflow: hidden;
}

.board-menu {
  width: 500px;
  margin-left: 25px;
  height: 100%;

  .nav-btn {
    background-color: #000;
  }

  .board-information {
    height: 100%;
    padding: 15px;

    .board-row {
      margin-bottom: 8px;
    }
  }
}
