.menu-row-title {
  padding: 8px 15px;
  background-color: #253c52;

  .fa {
    margin-right: 5px;
  }
}

.menu-row-content {
  padding: 20px 15px;
}

.menu-row {
  .section-description {
    font-size: 14px;
  }
}
