.menu-section {
  &-title {
    margin: 0;
    padding: 8px 15px;
    background-color: #253c52;
    font-size: 14px;
    font-weight: normal;

    .fa {
      margin-right: 5px;
    }
  }
  
  &-content {
    padding: 20px 0px;
  }
}
