.btn {
  background-color: #3e3b54;
  padding: 10px 16px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  transition: background-color .2s ease;
  cursor: pointer;

  &.shadow {
    box-shadow: 0px 0 6px 0 #c8d0c0bf;
  }

  &:hover,
  &.active {
    background-color: #253c52;
  }
}
