@font-face {
  font-family: 'academy-webfont';
  src: url('../assets/fonts/academy-webfont.eot');
  src: url('../assets/fonts/academy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/academy-webfont.woff') format('woff'),
    url('../assets/fonts/academy-webfont.ttf') format('truetype'),
    url('../assets/fonts/academy-webfont.svg#academy-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
}