.track-info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .track-icon {
    width: 40px;
    margin-right: 8px;
    border-radius: 4px;
  }

  .track-play-controls {
    flex-shrink: 0;
  }
}